# Keyboard Layout
setxkbmap qwerty & 

# Wallpaper
nitrogen --restore &

# Compositor
picom -f &

# Set HDMI1
xrandr --output HDMI1 --mode 1920x1080 --rate 119.98 &

# Enable bluetooth
bluetoothctl power on &
