* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

#tray {
  border-radius: 0.4rem;
}

.modules-left,
.modules-right,
.modules-center {
  background-color: rgba(60, 56, 54, 0.8);
  padding: 0.1rem 0.7rem;
  margin: 0.1rem 1rem;
  border-radius: 0.4rem;
}

tooltip {
  background: #282828;
  border: 0px solid;
  border-radius: 0px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #ebdbb2;
}

#workspaces button {
  padding: 0.3rem;
  color: #ebdbb2;
}

#workspaces button.active {
  color: #fe8019;
}

#workspaces button.urgent {
  color: #1d2021;
}

#pulseaudio.muted {
  color: #cc421d;
  font-size: 20px;
}

#battery.charging {
  color: #d79921;
}

#battery.full {
  color: #98971a;
}
